services:
  app:
    build:
      context: .
      target: builder-base
    command: ['pnpm', 'run', 'start:dev']
    env_file:
      - .env.development
    volumes:
      - .:/usr/src/app
    ports:
      - 3333:3333
    user: node
    network_mode: host
    depends_on:
      - postgres
      - jaeger

  postgres:
    image: postgres:18.0-alpine
    env_file:
      - .env.development
    ports:
      - 5432:5432
    network_mode: host

  jaeger:
      image: jaegertracing/all-in-one:latest
      ports:
        - 16686:16686
        - 4318:4318
        - 4317:4317
      environment:
        - LOG_LEVEL=debug
      network_mode: host
