name: Test

on: pull_request

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          versions: 10.19.0

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
          cache: 'pnpm'

      - name: install dependencies
        run: pnpm install --frozen-lockfile

      - name: start containers
        run: docker compose up --no-deps postgres -d

      - name: run test
        run: pnpm run test
